body {
  max-width: 80rem;
  margin: auto;
  // display: grid;
  // grid-template-rows: auto 1fr auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 1rem;
}
