:root {
  font-family: 'Source Sans Pro', sans-serif;

  --blue: rgb(18, 72, 134);
  --dark-blue: rgb(8, 43, 83);
  --light-blue: rgb(183, 217, 255);
}

body {
  max-width: 80rem;
  margin: auto;
  background-color: var(--dark-blue);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 2rem;
}

header {
  display: grid;
  grid-template-columns: 5fr 2fr 3vw;
  max-width: 100%;
  background-color: var(--blue);
  box-shadow: 0 3px var(--dark-blue);
  z-index: 1;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 3px var(--dark-blue);
}

main {
  flex-grow: 1;
  background-color: white;
  padding: 2rem;
}

footer {
  color: white;
  background-color: var(--dark-blue);
  text-align: center;
  padding: 1rem;
}

footer a {
  color: aquamarine;
}

h1 {
  font-size: calc(0.5rem + 6vw);
  color: white;
  margin: 2rem;
  text-shadow: 3px 3px var(--dark-blue);
}

h2 {
  color: var(--dark-blue);
}

/* @media (max-width: 480px) { */
@media (max-width: 32em) {
  body {
    padding: 0;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
  }

  h1 {
    text-align: center;
    font-size: 12vw;
  }
}
