$s-m-breakpoint: 32rem;
$m-l-breakpoint: 64rem;

@mixin medium {
  @media (min-width: $s-m-breakpoint) {
    @content;
  }
}

@mixin large {
  @media (min-width: $m-l-breakpoint) {
    @content;
  }
}

$dark-slate-gray: hsla(188, 30%, 24%, 1);
$slate-gray: hsla(188, 30%, 40%, 1);
$timberwolf: hsla(150, 14%, 84%, 1);
$alabaster: hsla(81, 28%, 90%, 1);
$ivory: hsla(78, 32%, 92%, 1);
$maize-crayola: hsla(44, 88%, 66%, 1);
$light-maize-crayola: hsla(44, 88%, 70%, 1);
$eerie-black: hsla(60, 1%, 14%, 1);
$jet: hsla(120, 2%, 20%, 1);

// $light-maize-crayola: lighten($maize-crayola, 5);

@import '../../css/layout.scss';

* {
  box-sizing: border-box;
}

:root {
  // font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: $eerie-black;

  @include medium {
    padding: 0 1rem;
  }
}

body {
  color: $jet;
  background-color: $ivory;
  max-width: 60rem;
}

header {
  background-color: $dark-slate-gray;
  padding: 1rem 2rem;
}

main {
  padding: 2rem;

  max-width: 48rem;

  @include medium {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 4rem;

    p {
      margin-top: 1.6rem;
    }
  }
}

footer {
  background-color: $eerie-black;

  span {
    color: $timberwolf;
  }

  a {
    color: $maize-crayola;

    &:hover,
    &:focus {
      color: lighten($maize-crayola, 10);
    }
  }
}

h1 {
  color: $ivory;
  margin-top: 3rem;
}

h2 {
  font-size: 1.2rem;
  color: $timberwolf;
}

h3 {
  font-size: 1.5rem;
}

button {
  color: $jet;
  background-color: $maize-crayola;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;

  &:hover,
  &:focus {
    // background-color: $light-maize-crayola;
    background-color: $light-maize-crayola;
    transform: scale(1.02);
  }
}

main a {
  // color: $slate-gray;
  color: $dark-slate-gray;

  &:hover,
  &:focus {
    // color: lighten($slate-gray, 10);
    color: $slate-gray;
  }
}

.logo {
  min-width: 50%;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: $maize-crayola;

  a {
    text-align: center;
    padding: 0.5rem;

    color: $jet;
    background-color: $maize-crayola;
    text-decoration: none;
    transition: padding 100ms linear, background-color 100ms linear;

    &:hover,
    &:focus {
      background-color: $light-maize-crayola;
      padding-block: 1rem;
    }
  }
  a + a {
    border-top: 1px solid $jet;
  }

  @include medium {
    flex-direction: row;
    a {
      border-right: 1px solid $jet;
      &:hover,
      &:focus {
        background-color: lighten($maize-crayola, 5);
        padding: 0.5rem 1rem;
      }
    }
    a + a {
      border-top: none;
    }
  }
}

@import '../../css/home_button.scss';

.home-button {
  // color: $eerie-black;
  color: $jet;
  background-color: $maize-crayola;
  outline: 1px solid $jet;
}

@import 'logo.scss';
