@use 'theme' as *;
@use 'utils';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  font-family: 'Red Hat Display', sans-serif;
  background-color: $light-gray;
}

.attribution {
  font-size: 0.8rem;
  color: $attribution;
  margin-top: 1rem;
  display: block;

  a {
    color: $attribution;
    font-weight: 600;
  }
}
