@use 'theme' as *;
@use 'utils';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
}

:root {
  font-family: 'Red Hat Text', sans-serif;
  background-color: $light-gray;
}

a {
  color: $dark-red;
  @include font('body', 600);

  &:hover,
  &:focus {
    color: $red;
  }
}

strong {
  color: $blue-gray;
}

::selection {
  background-color: rgba($dark-red, 0.9);
  color: white;
}

.attribution {
  font-size: 0.8rem;
  color: $blue-gray;
  margin-top: 1rem;
  display: block;
}
