@use 'theme' as *;
@use 'utils';
@use 'breakpoints';
@forward 'business-card';

.title {
  color: white;
  position: relative;
  // left: -30%;
  margin: 0;
  @include utils.text-shadow('bold');
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.nav {
  display: none;
  @include breakpoints.medium {
    display: flex;
  }
  background-color: $red;
  justify-content: space-between;
  align-items: center;
  // padding: 0 2rem;
  padding: 0 clamp(1rem, 3vw, 3rem);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  @include utils.box-shadow('bold');

  &__list {
    display: flex;
    list-style: none;
    // gap: 1rem;
    gap: clamp(1rem, 4vw - 0.5rem, 3rem);
    margin-left: auto;
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
    color: white;
    display: block;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    @include utils.text-shadow('bold');
  }
}

.hero {
  object-fit: cover;
  overflow: hidden;
  height: 250px;

  @include breakpoints.medium {
    height: 300px;
    margin-bottom: -6rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

hr {
  border: 1.5px solid $red;
  background-color: $red;
  width: 100%;
  max-width: 500px;
  border-radius: 1px;
}

.section {
  background-color: white;
  text-align: center;
  padding: 2rem;
  @include breakpoints.medium {
    padding: 1rem;
  }
  @include breakpoints.large {
    padding: 3rem 2rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 700;
    color: $blue-gray;
    margin-top: 0;
    margin-bottom: 0.5em;

    &--small {
      @extend .section__heading;
      font-size: 1.5rem;
    }
  }
}

.join-button {
  background-color: $dark-blue;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  display: inline-block;
  padding: 0.2em 0.8em;
  border-radius: 0.2em;
  @include utils.text-shadow('medium');
  @include utils.box-shadow('bold');
}

.advertised-businesses {
  display: grid;
  // grid-template-columns: minmax(0, 1fr);
  // grid-template-columns: 100%;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;

  @include breakpoints.medium {
    grid-template-columns: repeat(3, 1fr);
  }
}
