@use 'theme' as *;
@use 'utils';
@use 'breakpoints';

@forward 'navigation';
@forward 'hero';
@forward 'business-card';
@forward 'weather';
@forward 'alert';
@forward 'footer';
@forward 'city';
@forward 'join';
@forward 'directory';
@forward 'contact';

hr {
  border: 1.5px solid $red;
  background-color: $red;
  width: 100%;
  max-width: 500px;
  border-radius: 1px;
  margin: 0 auto 2rem;
}

.section {
  background-color: white;
  text-align: center;
  padding: 2rem;
  @include utils.box-shadow('medium');

  @include breakpoints.medium {
    padding: 2rem 1rem;
    padding: 3rem 2rem;
  }
  @include breakpoints.large {
    padding: 4rem 3rem;
  }

  &__heading {
    font-size: 2rem;
    text-align: center;
    @include font('display', 700);
    color: $blue-gray;
    margin: 0 auto 0.25em;
  }
}

.main-content {
  max-width: 45rem;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-top: 2rem;
  line-height: 1.6;
}

.join-button {
  cursor: pointer;
  background-color: $dark-blue;
  color: white;
  @include font('display', 700);
  font-size: 2rem;
  display: inline-block;
  padding: 0.2em 0.8em;
  margin-top: 2rem;
  border-radius: 0.2em;
  text-decoration: none;
  @include utils.text-shadow('medium');
  @include utils.box-shadow('bold');

  transition: all 400ms utils.$transition-timing;

  &:hover,
  &:focus {
    color: white;
    filter: brightness(1.2);
    transform: translateY(-1px) scale(1.05);
  }
}

.upcoming-events {
  list-style: none;
  font-size: 1.2rem;
  line-height: 2;
  padding: 0;
}
