@use 'theme' as *;
@use 'utils';
@use 'breakpoints';

@forward 'navigation';
@forward 'business-card';
@forward 'weather';

.hero {
  object-fit: cover;
  overflow: hidden;
  height: 250px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__logo {
    width: 100%;
    height: 100%;
    @include utils.drop-shadow('medium');
  }

  &__logo-container {
    position: absolute;
    top: clamp(2rem, 4vw, 3rem);
    left: clamp(2rem, 4vw, 3rem);
    width: clamp(6rem, 12vw, 9rem);
  }

  @include breakpoints.medium {
    height: 80vmin;
    max-height: 35rem;
    margin-bottom: -12rem;
  }

  @include breakpoints.large {
    margin-bottom: -14rem;
  }
}

hr {
  border: 1.5px solid $red;
  background-color: $red;
  width: 100%;
  max-width: 500px;
  border-radius: 1px;
  margin: 1rem auto;
}

.section {
  background-color: white;
  text-align: center;
  padding: 2rem;
  @include utils.box-shadow('medium');

  @include breakpoints.medium {
    padding: 2rem 1rem;
  }
  @include breakpoints.large {
    padding: 3rem 2rem;
  }

  &__heading {
    font-size: 2rem;
    @include font('display', 700);
    color: $blue-gray;
    margin-top: 0;
    margin-bottom: 0.5em;

    &--small {
      @extend .section__heading;
      font-size: 1.8rem;
    }
  }
}

.main-content {
  max-width: 40rem;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.join-button {
  cursor: pointer;
  background-color: $dark-blue;
  color: white;
  @include font('display', 700);
  font-size: 2rem;
  display: inline-block;
  padding: 0.2em 0.8em;
  border-radius: 0.2em;
  text-decoration: none;
  @include utils.text-shadow('medium');
  @include utils.box-shadow('bold');

  transition: all 400ms utils.$transition-timing;

  &:hover,
  &:focus {
    filter: brightness(1.2);
    transform: translateY(-1px) scale(1.05);
  }
}

.upcoming-events {
  list-style: none;
  font-size: 1.2rem;
  line-height: 2;
  padding: 0;
}

.footer {
  color: white;
  background-color: $rust;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;

  &__logo {
    width: 100%;
    @include utils.drop-shadow('light');
  }

  &__logo-container {
    display: block;
    margin-left: clamp(0rem, 5vw, 3rem);
    margin-right: clamp(0rem, 5vw, 3rem);
    width: clamp(5rem, 18vw, 7rem);
    align-self: center;
  }

  @at-root .main-contact {
    padding: 1rem;
    font-style: normal;
    align-self: flex-end;
    flex-shrink: 0;
    margin-right: auto;

    &__title {
      font-size: 1.2rem;
      @include font('display', 700);
    }

    &__info {
      list-style: none;
      padding: 0;
      line-height: 1.5;
    }
  }

  &__social {
    flex-basis: 30rem;
    padding: 0 2rem 2rem 1rem;
    list-style-type: none;

    display: flex;
    justify-content: space-around;

    &-link {
      flex-shrink: 1;
      flex-basis: 2.5rem;
    }

    &-icon {
      width: 100%;
      @include utils.drop-shadow('medium');
      transition: transform 300ms utils.$transition-timing;

      &:hover,
      &:focus {
        transform: translateY(-4px) scale(1.1);
      }
    }
  }

  @include breakpoints.medium {
    &__logo-container {
      margin: 2rem;
      width: 7rem;
    }

    @at-root .main-contact {
      &__title {
        font-size: 1.5rem;
      }

      &__info {
        font-size: 1.2rem;
      }
    }

    &__social {
      background-color: transparent;
      align-items: flex-end;
      padding-bottom: 1rem;
    }
  }

  @include breakpoints.large {
    &__logo-container {
      width: 9rem;
    }
  }
}
