@use 'breakpoints';
@use 'utils';
@use 'theme' as *;

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  padding: 1rem 0;
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 0;
  transition: all 400ms utils.$transition-timing;

  &.open {
    background-color: $red;
    min-height: 100%;
    overflow-y: auto;
  }

  &__title {
    display: none;

    color: white;
    margin: 0;
    @include utils.text-shadow('bold');
    font-size: clamp(1.5rem, 3vw, 2rem);
    @include font('display', 700);

    transition: transform 500ms utils.$transition-timing;

    .open & {
      display: block;
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    text-align: end;
    list-style: none;
    transform: translateY(-5%);
    padding-top: 1rem;
    margin: 0 0 0 auto;
    padding: 0;

    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition: all 500ms utils.$transition-timing;
  }

  &__item {
    transition: background 300ms utils.$transition-timing;

    &:hover,
    &:focus {
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    }
  }

  &__link {
    text-decoration: none;
    @include font('display', 600);
    color: white;
    display: block;
    font-size: 1.4rem;
    padding: 0.5rem 2rem;
    @include utils.text-shadow('bold');

    transition: font-size 500ms utils.$transition-timing;

    &:hover,
    &:focus {
      color: white;
    }
  }

  &__button {
    display: flex;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: $red;
    border: none;
    border-radius: 5px;
    @include font('display', 600);
    @include utils.text-shadow('bold');
    @include utils.box-shadow('bold');

    &:hover &-icon {
      transform: scale(1.1);
    }

    &:focus {
      outline: none;
    }
  }

  &__button-icon {
    width: 2rem;
    @include utils.drop-shadow('bold');
    transition: transform 200ms utils.$transition-timing;

    &--open {
      @extend .nav__button-icon;
    }
    &--close {
      @extend .nav__button-icon;
      display: none;
    }
  }
}

.open .nav {
  &__list {
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
  }

  &__button {
    box-shadow: none;
  }

  &__button-icon {
    &--open {
      display: none;
    }
    &--close {
      display: block;
    }
  }
}

@include breakpoints.medium {
  .nav {
    flex-direction: row;
    background-color: $red;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(1rem, 3vw, 3rem);
    margin-top: 0;
    height: auto;

    @include utils.box-shadow('bold');

    &__title {
      display: block;
    }

    &__list {
      flex-direction: row;
      justify-content: space-between;
      width: auto;
      opacity: 1;
      transform: translateY(0);
    }

    &__item {
      // Gotta use background here since background is used earlier for the gradient hover effect, and background-color won't override it
      pointer-events: all;

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.4);
      }
    }

    &__link {
      color: white;
      @include utils.text-shadow('bold');
      padding: 0.6em clamp(1rem, 2vw - 0.5rem, 2rem);
      font-size: clamp(1rem, 2.5vw, 1.2rem);
    }

    &__button {
      display: none;
    }
  }

  .transparent {
    background-color: transparent;
    box-shadow: none;
    padding: 2rem 3rem;
  }

  .transparent .nav {
    &__title {
      transform: translateY(-250%);
    }

    &__link {
      font-size: 1.4rem;
    }
  }
}
