@mixin box-shadow($weight) {
  @if $weight == 'light' {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  } @else if $weight == 'medium' {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  } @else if $weight == 'bold' {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}
@mixin text-shadow($weight) {
  @if $weight == 'light' {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  } @else if $weight == 'medium' {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  } @else if $weight == 'bold' {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}
