@mixin box-shadow($weight) {
  @if $weight == 'light' {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  } @else if $weight == 'medium' {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  } @else if $weight == 'bold' {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}
@mixin text-shadow($weight) {
  @if $weight == 'light' {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  } @else if $weight == 'medium' {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  } @else if $weight == 'bold' {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}

@mixin drop-shadow($weight) {
  @if $weight == 'light' {
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.25));
  } @else if $weight == 'medium' {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
  } @else if $weight == 'bold' {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  }
}
@mixin h {
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
$transition-timing: cubic-bezier(0.23, 1, 0.32, 1);
