*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
}

:root {
  font-family: "Red Hat Text", sans-serif;
  background-color: #f9f3f1;
}

a {
  color: #b65b49;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 600;
}
a:hover, a:focus {
  color: #d6705c;
}

strong {
  color: #45595e;
}

::selection {
  background-color: rgba(182, 91, 73, 0.9);
  color: white;
}

.attribution {
  font-size: 0.8rem;
  color: #45595e;
  margin-top: 1rem;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

@media screen and (min-width: 48rem) {
  .container {
    width: 95%;
    max-width: 60rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 48rem) {
  .two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 64rem) {
  .two-column-layout {
    gap: 3rem;
    margin-bottom: 3rem;
  }
}

.two-column {
  grid-column: 1/-1;
}

.one-column-layout {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .one-column-layout {
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 64rem) {
  .one-column-layout {
    gap: 3rem;
    margin-bottom: 3rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  padding: 1rem 0;
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  height: 0;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nav.open {
  background-color: #d6705c;
  min-height: 100%;
  overflow-y: auto;
}
.nav__title {
  display: none;
  color: white;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.open .nav__title {
  display: block;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
.nav__list {
  display: flex;
  flex-direction: column;
  text-align: end;
  list-style: none;
  transform: translateY(-5%);
  padding-top: 1rem;
  margin: 0 0 0 auto;
  padding: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nav__item {
  transition: background 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nav__item:hover, .nav__item:focus {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.nav__link {
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  color: white;
  display: block;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: font-size 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nav__link:hover, .nav__link:focus {
  color: white;
}
.nav__button {
  display: flex;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #d6705c;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.nav__button:hover .nav__button-icon, .nav__button:hover .nav__button-icon--close, .nav__button:hover .nav__button-icon--open {
  transform: scale(1.1);
}
.nav__button:focus {
  outline: none;
}
.nav__button-icon, .nav__button-icon--close, .nav__button-icon--open {
  width: 2rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nav__button-icon--close {
  display: none;
}

.open .nav__list {
  transform: translateY(0);
  pointer-events: all;
  opacity: 1;
}
.open .nav__button {
  box-shadow: none;
}
.open .nav__button-icon--open {
  display: none;
}
.open .nav__button-icon--close {
  display: block;
}

@media screen and (min-width: 48rem) {
  .nav {
    flex-direction: row;
    background-color: #d6705c;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(1rem, 3vw, 3rem);
    margin-top: 0;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  .nav__title {
    display: block;
  }
  .nav__list {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    opacity: 1;
    transform: translateY(0);
  }
  .nav__item {
    pointer-events: all;
  }
  .nav__item:hover, .nav__item:focus {
    background: rgba(0, 0, 0, 0.4);
  }
  .nav__link {
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0.6em clamp(1rem, 2vw - 0.5rem, 2rem);
    font-size: clamp(1rem, 2.5vw, 1.2rem);
  }
  .nav__button {
    display: none;
  }

  .transparent {
    background-color: transparent;
    box-shadow: none;
    padding: 2rem 3rem;
  }

  .transparent .nav__title {
    transform: translateY(-250%);
  }
  .transparent .nav__link {
    font-size: 1.4rem;
  }
}
.hero, .hero--subpage {
  object-fit: cover;
  overflow: hidden;
  max-height: 16rem;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}
.hero__logo {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
}
.hero__logo-container {
  position: absolute;
  top: clamp(2rem, 4vw, 3rem);
  left: clamp(2rem, 4vw, 3rem);
  width: clamp(6rem, 12vw, 9rem);
}
@media screen and (min-width: 48rem) {
  .hero, .hero--subpage {
    height: 80vmin;
    max-height: 35rem;
    margin-bottom: -12rem;
  }
}
@media screen and (min-width: 64rem) {
  .hero, .hero--subpage {
    margin-bottom: -14rem;
  }
}
.hero--subpage {
  background-position: bottom;
  max-height: 30rem;
  margin-bottom: max(-30%, -16rem);
}

.advertised-businesses {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}
@media screen and (min-width: 48rem) {
  .advertised-businesses {
    grid-template-columns: repeat(3, 1fr);
  }
}

.business {
  display: grid;
  grid-template-columns: minmax(auto, 30vw) minmax(10rem, max-content);
  gap: 0.5rem;
  position: relative;
  background-color: #f9f3f1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.business__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.business__image-container {
  overflow: hidden;
}
.business__info {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0 1rem;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
}
.business__name {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: #45595e;
  font-size: clamp(1.6rem, 3vw, 1.8rem);
  margin-bottom: 0.5rem;
}
.business__slogan {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 2.5vw + 0.5rem, 1.2rem);
}
.business__membership {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}
.business__contact {
  margin: auto 0;
}
.business__contact-list {
  margin-top: 0.5rem;
  padding: 0;
  list-style-type: none;
  font-style: normal;
}
@media screen and (min-width: 48rem) {
  .business {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .business__image-container {
    width: 100%;
  }
  .business__info {
    text-align: center;
    font-size: 1rem;
    background-color: #f9f3f1;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    top: calc(100% - 4.8rem);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .business:hover .business__info, .business:focus .business__info {
    top: 0;
  }
  .business__name {
    margin-bottom: 1.2rem;
  }
  .business__slogan {
    font-size: 1.2rem;
  }
  .business__contact-list {
    line-height: 1.2;
  }
}
@media screen and (min-width: 64rem) {
  .business__info {
    top: calc(100% - 5.2rem);
  }
  .business__contact-list {
    line-height: 1.5;
    margin-top: 1rem;
  }
}

.weather__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 25rem;
  margin: 0 auto;
}
.weather__today {
  grid-column: 1/3;
  font-size: 1.2rem;
}
.weather__side {
  font-size: 1.8rem;
  color: #45595e;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  justify-content: space-evenly;
}
.weather__layout, .weather__side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;
}
.weather__layout {
  background-color: #edf2f2;
  padding-bottom: 1rem;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.weather__header, .weather__forecast {
  font-size: 1.4rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
}
.weather__header {
  color: white;
  background-color: #22515d;
  padding: 0.2rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.weather__icon, .weather__icon--large {
  margin: 0 auto;
  width: 50%;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.25));
}
.weather__icon--large {
  width: 70%;
  min-width: 4rem;
}
@media screen and (min-width: 48rem) {
  .weather__grid {
    margin: 0 1rem;
  }
}
@media screen and (min-width: 64rem) {
  .weather__grid {
    gap: 2rem;
  }
}

.alert__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.alert__modal {
  position: relative;
  width: 95%;
  max-width: 40rem;
  height: 90%;
  margin: 1rem;
  padding: 2rem;
  border-radius: 3px;
  background-color: #d6705c;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.alert__event {
  color: white;
  margin: 0;
  display: inline-block;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.alert__from {
  color: white;
  display: inline-block;
  margin-left: 0.2rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}
.alert__body {
  font-size: 1rem;
  line-height: 1.5;
}
.alert__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  color: white;
  padding: 0;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.alert__close:hover {
  transform: scale(1.1);
}
.alert__close * {
  width: 2rem;
}

.footer {
  color: white;
  background-color: #b75c49;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.footer__logo {
  width: 100%;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.25));
}
.footer__logo-container {
  display: block;
  margin-left: clamp(0rem, 5vw, 3rem);
  margin-right: clamp(0rem, 5vw, 3rem);
  width: clamp(5rem, 18vw, 7rem);
  align-self: center;
}
.main-contact {
  padding: 1rem;
  font-style: normal;
  align-self: flex-end;
  flex-shrink: 0;
  margin-right: auto;
}
.main-contact__title {
  font-size: 1.2rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}
.main-contact__info {
  list-style: none;
  padding: 0;
  line-height: 1.5;
}

.footer__social {
  flex-basis: 30rem;
  padding: 0 2rem 2rem 1rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.footer__social-link {
  flex-shrink: 1;
  flex-basis: 2.5rem;
}
.footer__social-icon {
  width: 100%;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.footer__social-icon:hover, .footer__social-icon:focus {
  transform: translateY(-4px) scale(1.1);
}
.footer a {
  color: white;
}
.footer a:hover, .footer a:focus {
  color: white;
}
@media screen and (min-width: 48rem) {
  .footer__logo-container {
    margin: 2rem;
    width: 7rem;
  }
  .main-contact__title {
    font-size: 1.5rem;
  }
  .main-contact__info {
    font-size: 1.2rem;
  }

  .footer__social {
    background-color: transparent;
    align-items: flex-end;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 64rem) {
  .footer__logo-container {
    width: 9rem;
  }
}

.tech-companies {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.tech-companies * {
  width: 200px;
}

.activities {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  gap: 1rem;
  line-height: 2;
  font-size: 1.1rem;
  text-align: left;
  max-width: 30rem;
}

.form {
  accent-color: #22515d;
  text-align: left;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding: 2rem 0;
  border: none;
  border-top: 2px solid #22515d;
  border-radius: 3px;
  border-radius: 0;
}
.form__legend {
  font-size: 1.3rem;
  color: #45595e;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  padding: 0.5rem;
  margin: -0.5rem;
}
.form__label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0.5rem 0;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  color: #b65b49;
}
.form__input {
  border: 1.5px solid #45595e;
  border-radius: 3px;
  padding: 0.5rem;
  margin-top: 0.3rem;
  width: 100%;
  max-width: 25rem;
  background-color: #f3f6f6;
}
.form__textarea {
  resize: vertical;
  width: 100%;
  height: 6rem;
  min-height: 4rem;
  max-height: 10rem;
  border: 1.5px solid #45595e;
  border-radius: 3px;
  padding: 0.5rem;
  margin-top: 0.3rem;
  background-color: #f3f6f6;
}
.form__submit {
  border: none;
  margin-top: 3rem;
  max-width: 15rem;
}
@media screen and (min-width: 48rem) {
  .form__fieldset {
    padding: 2rem;
  }
}
@media screen and (min-width: 64rem) {
  .form__input {
    padding: 0.2rem;
  }
}

.membership {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
}
.membership__label {
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: block;
  border: 1.5px solid #22515d;
  background-color: #f3f6f6;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
}
.membership__radio {
  display: none;
}
.membership__radio:checked + .membership__label {
  background-color: #22515d;
  color: white;
}
.membership__level {
  flex: 1 1 25%;
}
.membership__info {
  height: 0;
  overflow: hidden;
  background-color: white;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.membership__radio:checked ~ .membership__info {
  z-index: 1;
  height: auto;
  padding: 1rem;
  border-top: none;
  border: 1.5px solid #22515d;
}
.membership__price {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  color: #c16957;
}
.membership__list {
  margin: 0;
  font-style: italic;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
}
.membership__list--additional {
  list-style-type: none;
  font-size: 1rem;
  transform: translateX(-0.2rem);
}
.membership__list--additional::marker {
  font-weight: 700;
  content: "+ ";
  font-style: normal;
  font-size: 1.2rem;
}
@media screen and (min-width: 48rem) {
  .membership {
    flex-direction: row;
    margin-top: 1.5rem;
    margin-bottom: 10rem;
  }
  .membership__info {
    flex-direction: row;
    align-items: flex-end;
    padding: 1rem;
    display: none;
    position: absolute;
    min-height: 6rem;
  }
  .membership__label {
    text-align: center;
  }
  .membership__level:first-child .membership__label {
    border-top-left-radius: 5px;
  }
  .membership__level:last-child .membership__label {
    border-top-right-radius: 5px;
  }
  .membership__radio:checked ~ .membership__info {
    display: flex;
    padding: 1rem;
    top: 100%;
    left: 0;
    width: 100%;
    border-width: 1.5px;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }
  .membership__price {
    flex-basis: 9rem;
  }
}

.directory {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.directory__layout-toggle {
  display: none;
}
.directory__item {
  border: 1.5px solid #345f6a;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: left;
  background-color: #f3f6f6;
}
.directory__main-info {
  margin-right: auto;
  flex-basis: 300px;
}
.directory__logo {
  max-height: 75px;
  width: 150px;
  object-fit: contain;
}
.directory__name {
  margin: 0;
  color: #45595e;
  font-size: 1.4rem;
}
.directory__website {
  text-align: right;
}
.directory__contact-info {
  padding: 0;
  list-style-type: none;
  flex-basis: 100%;
}
@media screen and (min-width: 48rem) {
  .directory__layout-toggle {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  .directory__layout-button {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    background-color: #edf2f2;
    border: 2px solid #345f6a;
    border-radius: 3px;
    cursor: pointer;
    transition: filter 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .directory__layout-button * {
    width: 100%;
  }
  .directory__layout-button.selected {
    background-color: #345f6a;
  }
  .directory__layout-button.selected * {
    filter: brightness(5);
  }
  .directory__layout-button:hover, .directory__layout-button:focus {
    filter: brightness(0.9);
  }
  .directory.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 64rem) {
  .directory__layout-button {
    width: 2rem;
    height: 2rem;
  }
  .directory__contact-info {
    flex-basis: 300px;
  }
}

.google-map {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  height: 300px;
}
@media screen and (min-width: 48rem) {
  .google-map {
    height: 350px;
  }
}

.board__list {
  list-style-type: none;
  padding: 0;
  max-width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.board__member {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.board__photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.board__info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.board__name {
  margin: 0;
  color: #45595e;
  font-size: 1.5rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}
.board__title {
  font-style: italic;
}
@media screen and (min-width: 48rem) {
  .board__list {
    max-width: 30rem;
  }
  .board__member:nth-child(even) {
    flex-direction: row-reverse;
  }
  .board__member:nth-child(even) .board__info {
    text-align: right;
  }
  .board__photo {
    width: 5rem;
    height: 5rem;
  }
}

hr {
  border: 1.5px solid #d6705c;
  background-color: #d6705c;
  width: 100%;
  max-width: 500px;
  border-radius: 1px;
  margin: 0 auto 2rem;
}

.section {
  background-color: white;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 48rem) {
  .section {
    padding: 2rem 1rem;
    padding: 3rem 2rem;
  }
}
@media screen and (min-width: 64rem) {
  .section {
    padding: 4rem 3rem;
  }
}
.section__heading {
  font-size: 2rem;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: #45595e;
  margin: 0 auto 0.25em;
}

.main-content {
  max-width: 45rem;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-top: 2rem;
  line-height: 1.6;
}

.join-button {
  cursor: pointer;
  background-color: #345f6a;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  display: inline-block;
  padding: 0.2em 0.8em;
  margin-top: 2rem;
  border-radius: 0.2em;
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.join-button:hover, .join-button:focus {
  color: white;
  filter: brightness(1.2);
  transform: translateY(-1px) scale(1.05);
}

.upcoming-events {
  list-style: none;
  font-size: 1.2rem;
  line-height: 2;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
