$s-m-breakpoint: 35rem;
$m-l-breakpoint: 64rem;

// Inline media queries
@mixin small {
  // There's a weird 1px spot in between medium and small that has a weird overlap
  @media (max-width: $s-m-breakpoint - 0.0625rem) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $s-m-breakpoint) {
    @content;
  }
}

@mixin large {
  @media (min-width: $m-l-breakpoint) {
    @content;
  }
}

// Colors
$dark-slate-gray: hsl(188, 30%, 24%);
$slate-gray: hsl(188, 30%, 40%);
$light-slate-gray: hsl(188, 30%, 50%);
$timberwolf: hsl(150, 14%, 84%);
$alabaster: hsl(81, 28%, 90%);
$ivory: hsl(78, 32%, 96%);
$maize-crayola: hsl(44, 88%, 66%);
$light-maize-crayola: hsl(44, 88%, 70%);
$eerie-black: hsl(60, 1%, 14%);
$jet: hsl(120, 2%, 20%);

// Default layout
@import '../../css/layout.scss';

* {
  box-sizing: border-box;
}

:root {
  // font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: $eerie-black;

  @include medium {
    padding: 0 1em;
  }
}

body {
  color: $jet;
  background-color: $ivory;
  max-width: 60rem;

  //                  head nav  main ... rest are auto
  grid-template-rows: auto auto 1fr;
}

header {
  background-color: $dark-slate-gray;
  padding: 1em 2em;

  display: flex;
  align-items: flex-end;
  gap: 2em;

  .logo {
    padding: 0.5em 0;
  }

  @include small {
    // border-bottom: 5px solid $maize-crayola;
    padding: 0.5em;
    padding-right: 3.5em;
    gap: 0;

    h1 {
      margin-top: 0;
      font-size: 1.5rem;
    }
    h2 {
      font-size: 0.8rem;
    }

    .logo {
      text-align: center;
    }

    svg {
      width: 60%;
      height: 60%;
    }
  }
}

img {
  box-shadow: 0 0 2px $jet;
}

nav {
  position: relative;
  background-color: $ivory;

  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: $maize-crayola;
    box-shadow: 0 0 5px $jet;
    z-index: 10;

    @include small {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      text-align: right;
      min-width: 70%;
      border-radius: 0 0 0 0.8rem;

      transition: transform 150ms ease;

      overflow: hidden;
      transform-origin: top;
      &.closed {
        transform: scaleY(0);
      }
    }

    li:not(.close-overlay) {
      flex-grow: 1;
      text-align: center;

      a {
        padding: 0.6em 0;
        text-decoration: none;
        color: $jet;
        display: block;

        &:hover,
        &:focus {
          transform: scale(1.03);
        }

        @include small {
          padding-inline: 1.5em;
        }

        @include large {
          padding-block: 0.3em;
        }
      }

      & + li {
        border-left: 1px solid $jet;

        @include small {
          border-top: 1px solid $jet;
          border-left: none;
        }
      }

      &:hover,
      &:focus {
        background-color: $light-maize-crayola;
      }

      &.active {
        background-color: lighten($slate-gray, 15);
      }
    }
  }
}

.close-overlay {
  position: fixed;
  inset: 0;
  background-color: transparent;

  // closeOverlay is a fixed element covering the whole screen, allowing you to close the menu by clicking anywhere off the menu
  // ul z-index must be set
  z-index: -2;
}

.menu-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  padding: 0.5em 1em;
  border-radius: 0.5rem 0 0 0;
  font-size: 1.2rem;
  color: $jet;
  // Above box shadow
  z-index: 11;

  @include medium {
    visibility: hidden;
  }
}

.banner {
  color: $ivory;
  background: linear-gradient($dark-slate-gray, $slate-gray);
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  line-height: 2.5rem;

  @include small {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5em;
  }

  @include large {
    font-size: 1.5rem;
  }
}

main {
  padding: 2rem;
  padding-top: 0;

  @include small {
    padding: 1em;
  }
}

footer {
  background-color: $eerie-black;

  span {
    color: $timberwolf;
  }

  a {
    color: $maize-crayola;

    &:hover,
    &:focus {
      color: lighten($maize-crayola, 10);
    }
  }
}

h1 {
  color: $ivory;
  margin-top: 1em;
}

h2 {
  font-size: 1.2rem;
  color: $timberwolf;
}

h3 {
  font-size: 1.5rem;
  color: $jet;
}

h4 {
  font-size: 1.2rem;
  // color: $eerie-black;
  color: black;
}

button {
  color: $jet;
  background-color: $maize-crayola;
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: $light-maize-crayola;
  }
}

main a {
  color: $dark-slate-gray;

  &:hover,
  &:focus {
    color: $slate-gray;
  }
}

// @import '../../css/portal_button';

// .portal-button {
//   color: $jet;
//   background-color: $maize-crayola;
//   outline: 1px solid $jet;
// }

.hero {
  width: 100%;
  height: 100%;
  max-height: 280px;
  object-fit: cover;
  overflow: hidden;

  &-section {
    position: relative;
  }

  &-container {
    position: relative;
    margin: 0 -2rem;
  }

  &-container::after {
    content: '';
    // width: 100%;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba($dark-slate-gray, 0.5),
      rgba($dark-slate-gray, 0)
    );
  }
}
.weather-summary {
  position: static;
  @include large {
    position: absolute;
    top: 0;
    // color: $jet;
    background-color: $alabaster;
    padding: 1em;
    margin: 1em;
    max-width: 20rem;
    box-shadow: 0 0 5px $jet;
  }
}

.forecast {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-around;
  background-color: $alabaster;
  padding: 1em;

  img {
    margin: 0.1em;
    flex: 0 1 auto;
  }
}

article {
  display: flex;
  flex-direction: column;
  // flex-direction: column-reverse;

  img {
    width: 90%;
    margin: auto;
    order: 1;
  }

  @include medium {
    display: block;

    img {
      margin: 0 0 1em 1em;
      float: right;
      width: auto;
    }
  }
}

address {
  background-color: $light-slate-gray;
  // color: $eerie-black;
  color: black;
  padding: 1.5em;
  display: flex;
  flex-direction: row-reverse;
  gap: 3em;

  @include small {
    flex-direction: column;
    gap: 1em;
  }

  * {
    flex: 1 1 50%;
  }

  // section {
  //   flex: 1 1 50%;
  // }
}

.icon {
  box-shadow: none;
}
.facebook {
  --color: #1877f2;
}

.instagram {
  --color: #c32aa3;
}

.twitter {
  --color: #1da1f2;
}
.icon-large {
  font-size: 3rem;
  margin-right: 1rem;
  // background-color: $jet;
  border-radius: 7px;
  padding: 0px 3px;
  transition: background-color 200ms ease;
  color: $light-slate-gray;

  &:hover,
  &:focus {
    // color: var(--color);
    background-color: var(--color);
    transform: scale(1.02);
  }
}
.map {
  width: 100%;
  object-fit: cover;

  max-height: 250px;

  @include small {
    max-height: 150px;
  }
}

.large-only {
  @include small {
    display: none;
  }
}

@import '../../lesson03/css/logo';

section.lazy-load {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

img {
  filter: blur(0);
  transition: filter 300ms ease;
}

[data-src] {
  filter: blur(0.2em);
  position: relative;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @include medium {
    grid-template-columns: repeat(2, 1fr);
  }

  @include large {
    grid-template-columns: repeat(3, 1fr);
  }

  &-card {
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px $jet;
    position: relative;

    transition: transform 200ms ease;
    @include large {
      &:hover {
        transform: translateY(-5px);
      }
    }

    @include large {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 5px;
        box-shadow: 0 0 20px $jet;
        transition: opacity 200ms ease;
        opacity: 0;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }

  &-img {
    width: 100%;
    box-shadow: none;
    border-radius: 5px 5px 0 0;
  }

  &-caption {
    padding: 0.5em;
  }
}

form {
  // margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: $alabaster;
  border-radius: 5px;
  box-shadow: 0 0 5px $jet;
  accent-color: $slate-gray;

  fieldset {
    padding: 0 2em 2em 2em;
    border: 1px solid $jet;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    legend {
      font-size: 1.1rem;
      text-align: center;
      padding: 0.5em;
    }
  }

  input:not([type='radio']),
  select,
  textarea {
    display: block;
    border-radius: 5px;
    border: 1px solid $jet;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
    max-width: 30rem;
  }
  input[type='range'] {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .range-container {
    width: 100%;
    max-width: 30rem;
    display: flex;
    gap: 1em;
    padding-top: 0.3em;

    span {
      color: $dark-slate-gray;
      min-width: 2ch;
      align-self: center;
    }
  }

  label {
    margin-top: 1em;
  }
  .radio-option {
    margin-top: 0.5em;
  }
  textarea {
    resize: vertical;
    min-height: 5rem;
    max-height: 15rem;
  }

  input[type='submit'] {
    margin-left: 2.5em;
    max-width: 10rem;
    background-color: lighten($slate-gray, 10);
    &:hover,
    &:focus {
      background-color: lighten($slate-gray, 15);
      transform: scale(1.01);
    }

    @include small {
      margin: 0 auto;
    }
  }

  h3 {
    margin: 0.5em 0;
  }

  @include small {
    h3,
    fieldset legend {
      margin: 0 auto;
    }
  }

  @include medium {
    margin: 1em;
    margin-top: 3em;
    padding: 2em;
  }

  @include large {
    padding: 2em 6em;
    margin: 4em;

    input:not([type='radio']),
    select {
      padding: 0.25em 0.5em;
    }
  }
}
