:root {
  font-family: 'Ubuntu', sans-serif;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 10px 10px 10px #6f96ad;
}

/* thead:first-of-type, */
thead tr:first-of-type,
tfoot {
  font-size: 1.5rem;
  background-color: #7fb9c2;
}

/* thead:last-of-type, */
thead tr:last-of-type,
#highlight {
  color: #fff;
  background-color: #628ca6;
}

tbody tr:nth-child(odd) {
  background-color: #e7f0ed;
}

tbody tr:nth-child(even) {
  background-color: #e7ffed;
}

th,
td {
  padding: 0.4em;
  text-align: center;
  border: 1px solid #bcbdbc;
}

tfoot {
  font-size: 0.8rem;
}
