$s-m-breakpoint: 35rem;
$m-l-breakpoint: 64rem;

// Inline media queries
@mixin small {
  // There's a weird 1px spot in between medium and small that has a weird overlap
  @media (max-width: ($s-m-breakpoint - 0.03rem)) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $s-m-breakpoint) {
    @content;
  }
}

@mixin large {
  @media (min-width: $m-l-breakpoint) {
    @content;
  }
}

// Colors
$dark-slate-gray: hsl(188, 30%, 24%);
$slate-gray: hsl(188, 30%, 40%);
$light-slate-gray: hsl(188, 30%, 50%);
$timberwolf: hsl(150, 14%, 84%);
$alabaster: hsl(81, 28%, 90%);
$ivory: hsl(78, 32%, 96%);
$maize-crayola: hsl(44, 88%, 66%);
$light-maize-crayola: hsl(44, 88%, 70%);
$eerie-black: hsl(60, 1%, 14%);
$jet: hsl(120, 2%, 20%);

// Default layout
@import '../../css/layout.scss';
// Logo spin!
@import '../../lesson03/css/logo';

* {
  box-sizing: border-box;
}

:root {
  // font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: $eerie-black;

  @include medium {
    padding: 0 1em;
  }
}

body {
  color: $jet;
  background-color: $ivory;
  max-width: 60rem;

  //                  head nav  main ... rest are auto
  grid-template-rows: auto auto 1fr;
}

header {
  // background-color: $dark-slate-gray;
  background: linear-gradient(to right, $dark-slate-gray, $slate-gray);
  padding: 1em 2em;

  display: flex;
  align-items: flex-end;
  gap: 2em;

  .logo {
    padding: 0.5em 0;
  }

  @include small {
    // border-bottom: 5px solid $maize-crayola;
    padding: 0.5em;
    padding-right: 3.5em;
    gap: 0;

    h1 {
      margin-top: 0;
      font-size: 1.5rem;
    }
    h2 {
      font-size: 0.8rem;
    }

    .logo {
      text-align: center;
    }

    svg {
      width: 60%;
      height: 60%;
    }
  }
}

nav {
  position: relative;
  background-color: $ivory;

  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: $maize-crayola;
    box-shadow: 0 0 5px $jet;
    z-index: 10;

    @include small {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      text-align: right;
      min-width: 70%;
      border-radius: 0 0 0 0.8rem;

      transition: transform 150ms ease;

      overflow: hidden;
      transform-origin: top;
      &.closed {
        transform: scaleY(0);
      }
    }

    li:not(.close-overlay) {
      flex-grow: 1;
      text-align: center;

      a {
        padding: 0.6em 0;
        text-decoration: none;
        color: $jet;
        display: block;

        &:hover,
        &:focus {
          transform: scale(1.03);
        }

        @include small {
          padding-inline: 1.5em;
        }

        @include large {
          padding-block: 0.3em;
        }
      }

      & + li {
        border-left: 1px solid $jet;

        @include small {
          border-top: 1px solid $jet;
          border-left: none;
        }
      }

      &:hover,
      &:focus {
        background-color: $light-maize-crayola;
      }

      &.active {
        background-color: lighten($slate-gray, 15);
      }
    }
  }
}

.close-overlay {
  position: fixed;
  inset: 0;
  background-color: transparent;

  // closeOverlay is a fixed element covering the whole screen, allowing you to close the menu by clicking anywhere off the menu
  // ul z-index must be set
  z-index: -2;
}

.menu-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  padding: 0.5em 1em;
  border-radius: 0.5rem 0 0 0;
  font-size: 1.2rem;
  color: $jet;
  // Above box shadow
  z-index: 15;

  @include medium {
    visibility: hidden;
  }
}

.banner {
  color: $ivory;
  background: linear-gradient($dark-slate-gray, $slate-gray);
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  line-height: 2.5rem;

  @include small {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5em;
  }

  @include large {
    font-size: 1.5rem;
  }
}

main {
  padding: 0.5rem 2rem 1rem 2rem;
}

footer {
  background-color: $eerie-black;

  span {
    color: $timberwolf;
  }

  a {
    color: $maize-crayola;

    &:hover,
    &:focus {
      color: lighten($maize-crayola, 10);
    }
  }
}

h1 {
  color: $ivory;
  margin-top: 1em;
}

h2 {
  font-size: 1.2rem;
  color: $timberwolf;
}

h3 {
  font-size: 1.5rem;
  color: $jet;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  color: $jet;
}

button {
  color: $jet;
  background-color: $maize-crayola;
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: $light-maize-crayola;
  }
}

main a {
  color: $dark-slate-gray;

  &:hover,
  &:focus {
    color: $slate-gray;
  }
}

.hero {
  width: 100%;
  height: 100%;
  max-height: 280px;
  object-fit: cover;
  box-shadow: 0 1px 2px $jet;

  &-section {
    position: relative;
  }

  &-container {
    position: relative;
    margin: 0 -2rem;
  }

  &-container::after {
    content: '';
    // width: 100%;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba($dark-slate-gray, 0.5), rgba($dark-slate-gray, 0));
  }

  &-title {
    z-index: 1;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 0 1rem;
    margin: 0;
    color: white;
    text-shadow: 0 0 4px $eerie-black;
    width: 100%;
    // font-size: 2rem;
    font-size: clamp(2rem, 6vw, 3rem);

    &-right {
      transform: none;
      text-align: right;
      right: 0;
      max-width: 50%;
      left: auto;

      @include small {
        // right: auto;
        position: absolute;
        max-width: 100%;
        text-align: center;
      }
    }
  }
}
.weather-summary {
  position: static;
  border-left: 1.5rem solid darken($timberwolf, 30);

  p {
    margin: 0;
    line-height: 2;
  }

  // @include medium {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // background-color: $alabaster;
  // background: linear-gradient(to bottom right, lighten($alabaster, 5), $alabaster);
  // background: linear-gradient(to bottom right, $alabaster, $timberwolf);
  background: linear-gradient(to bottom right, lighten($alabaster, 5), lighten($timberwolf, 5));
  padding: 1em;
  max-width: 20rem;
  box-shadow: 0 0 5px $jet;

  h4 {
    margin: 0.5em 0;
  }

  p {
    line-height: 1.5;
  }
  // }

  @include small {
    position: static;
    transform: none;
    width: 100%;
    margin: 2rem auto;
  }
}

.forecast {
  border-collapse: collapse;
  table-layout: auto;

  &-container {
    max-width: 100%;
    display: inline-block;
    box-shadow: 0 0 5px $jet;
  }

  th,
  td {
    padding: 0.5em 1em;
  }
  th + th,
  td + td {
    border-left: 1px solid $jet;
  }
  th {
    // background-color: darken($timberwolf, 35);
    background: linear-gradient(to bottom, darken($timberwolf, 25), darken($timberwolf, 35));
    color: $ivory;
    text-shadow: 0 0 2px $jet;
  }
  td {
    background-color: $timberwolf;
  }
  td > img {
    margin: auto;
    display: block;
    filter: drop-shadow(0 0 2px #999);
  }
}

article {
  display: flex;
  flex-direction: column;

  img {
    width: 90%;
    margin: auto;
    order: 1;
    box-shadow: 0 0 2px $jet;
  }

  @include medium {
    display: block;

    img {
      margin: 0 0 1em 1em;
      float: right;
      width: auto;
      box-shadow: 0 0 2px $jet;
    }
  }
}

address {
  // background-color: $light-slate-gray;
  background: linear-gradient(to top right, $light-slate-gray, lighten($light-slate-gray, 10));
  padding: 1.5em;
  display: flex;
  flex-direction: row-reverse;
  gap: 3em;
  color: black;

  @include small {
    flex-direction: column;
    gap: 1em;
  }

  * {
    flex: 1 1 50%;
  }

  em {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-block: 1em;
  }

  #map {
    box-shadow: 0 0 2px $jet;
  }
}

.facebook {
  --color: #1877f2;
}

.instagram {
  --color: #c32aa3;
}

.twitter {
  --color: #1da1f2;
}
.icon-large {
  font-size: 3rem;
  margin-right: 1rem;
  border-radius: 7px;
  padding: 0px 3px;
  transition: background-color 200ms ease;
  color: $light-slate-gray;

  &:hover,
  &:focus {
    background-color: var(--color);
    transform: scale(1.02);
  }
}
.map {
  width: 100%;
  object-fit: cover;

  max-height: 250px;

  @include small {
    max-height: 150px;
  }
}

.large-only {
  @include small {
    display: none;
  }
}

// Home Page
.towns {
  list-style: none;
  padding: 0;
  width: 100%;

  gap: 1em;
  display: flex;
  flex-direction: column;

  @include large {
    flex-direction: row;
  }
}

.town {
  background: linear-gradient(to bottom, $alabaster, $timberwolf);
  // background-color: $alabaster;
  // background-color: $timberwolf;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  width: 100%;

  @include medium {
    flex-direction: row;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }

  @include large {
    // deals with specificity
    &:nth-child(n) {
      flex-direction: column;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    // aspect-ratio: 1 / 1;
    // height: auto;
    height: 100%;
    // box-shadow: 0 0 2px $jet;

    // @supports (aspect-ratio: 1 / 1) {
    // aspect-ratio: 1 / 1;
    // }
  }

  &-data {
    p {
      margin: 2% 0;
    }

    margin-left: 1em;

    @include medium {
      flex-basis: 50%;
      margin-right: auto;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include large {
      justify-content: flex-start;
    }
  }

  .img-container {
    position: relative;
    max-height: 250px;
    overflow: hidden;
    box-shadow: 0 0 2px $jet;

    // @supports not (aspect-ratio: 1 / 1) {
    // overflow: hidden;
    // aspect-ratio: 1 / 1;
    // }

    @include medium {
      flex-basis: 50%;
    }
  }

  h3 {
    margin: 0;

    &.large-only {
      display: none;
      position: absolute;
      bottom: 0.5em;
      left: 0.5em;
      font-size: 1.7rem;
      color: $ivory;
      text-shadow: 0 0 5px $eerie-black;

      @include large {
        display: block;
      }
    }

    &.medium-and-down {
      display: block;

      @include large {
        display: none;
      }
    }

    a {
      color: inherit;

      &:hover,
      &:focus {
        filter: opacity(0.8);
      }
    }
  }
}

img {
  filter: blur(0);
  transition: filter 300ms ease;
}

[data-src] {
  filter: blur(0.2em);
  position: relative;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @include medium {
    grid-template-columns: repeat(2, 1fr);
  }

  @include large {
    grid-template-columns: repeat(3, 1fr);
  }

  &-card {
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px $jet;
    position: relative;
    background-color: white;

    transition: transform 200ms ease;
    @include large {
      &:hover {
        transform: translateY(-5px);
      }
    }

    @include large {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 5px;
        box-shadow: 0 0 20px $jet;
        transition: opacity 200ms ease;
        opacity: 0;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }

  &-img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  &-caption {
    padding: 0.5em;
  }
}

// Storm Center
form {
  // margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  margin-top: 1.5em;
  background-color: $alabaster;
  border-radius: 5px;
  box-shadow: 0 0 5px $jet;
  accent-color: $slate-gray;

  fieldset {
    padding: 0 2em 2em 2em;
    border: 1px solid $jet;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    legend {
      font-size: 1.1rem;
      text-align: center;
      padding: 0.5em;
    }
  }

  input:not([type='radio']),
  select,
  textarea {
    display: block;
    border-radius: 5px;
    border: 1px solid $jet;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
    max-width: 30rem;
  }
  input[type='range'] {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .range-container {
    width: 100%;
    max-width: 30rem;
    display: flex;
    gap: 1em;
    padding-top: 0.3em;

    span {
      color: $dark-slate-gray;
      min-width: 2ch;
      align-self: center;
    }
  }

  label {
    margin-top: 1em;
  }
  .radio-option {
    margin-top: 0.5em;
  }
  textarea {
    resize: vertical;
    min-height: 5rem;
    max-height: 15rem;
  }

  input[type='submit'] {
    margin-left: 2.5em;
    max-width: 10rem;
    background-color: lighten($slate-gray, 10);
    &:hover,
    &:focus {
      background-color: lighten($slate-gray, 15);
      transform: scale(1.01);
    }

    @include small {
      margin: 0 auto;
    }
  }

  h3 {
    margin: 0.5em 0;
  }

  @include small {
    h3,
    fieldset legend {
      margin: 0 auto;
    }
  }

  @include medium {
    margin: 1em;
    margin-top: 3em;
    padding: 2em;
  }

  @include large {
    padding: 2em 6em;
    margin: 4em;

    input:not([type='radio']),
    select {
      padding: 0.25em 0.5em;
    }
  }
}

.event {
  padding: 1em;
  margin: 2rem auto;
  background: linear-gradient(to bottom left, $timberwolf, darken($timberwolf, 15));
  border: 1rem solid darken($timberwolf, 25);
  width: 80%;
  max-width: 25rem;
  box-shadow: 0 3px 5px darken($timberwolf, 50);

  @include small {
    width: 100%;
  }

  &-title {
    text-align: center;
    margin-top: 0.5rem;

    &::after {
      content: '';
      display: block;
      margin: auto;
      width: 75%;
      height: 1px;
      background-color: darken($timberwolf, 30);
      margin-top: 0.5rem;
    }
  }

  &-list {
    list-style-type: square;

    @include small {
      padding-left: max(8vw, 1rem);
    }

    &-item {
      margin-bottom: 0.5rem;
    }
  }
}
