body {
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 1rem;
}

svg {
  overflow: visible;
}

#logo {
  transform-origin: center;
  transition: transform 100ms ease;
}

#logo:hover {
  transform: scale(1.02);
}

#waterHighlight {
  transform-origin: center;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#logo:hover #waterHighlight {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
* {
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
  background-color: #242423;
}
@media (min-width: 35rem) {
  :root {
    padding: 0 1em;
  }
}

body {
  color: #323432;
  background-color: #f6f8f2;
  max-width: 60rem;
  grid-template-rows: auto auto 1fr;
}

header {
  background: linear-gradient(to right, #2b4b50, #477c85);
  padding: 1em 2em;
  display: flex;
  align-items: flex-end;
  gap: 2em;
}
header .logo {
  padding: 0.5em 0;
}
@media (max-width: 34.97rem) {
  header {
    padding: 0.5em;
    padding-right: 3.5em;
    gap: 0;
  }
  header h1 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  header h2 {
    font-size: 0.8rem;
  }
  header .logo {
    text-align: center;
  }
  header svg {
    width: 60%;
    height: 60%;
  }
}

nav {
  position: relative;
  background-color: #f6f8f2;
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f5cc5c;
  box-shadow: 0 0 5px #323432;
  z-index: 10;
}
@media (max-width: 34.97rem) {
  nav ul {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    text-align: right;
    min-width: 70%;
    border-radius: 0 0 0 0.8rem;
    transition: transform 150ms ease;
    overflow: hidden;
    transform-origin: top;
  }
  nav ul.closed {
    transform: scaleY(0);
  }
}
nav ul li:not(.close-overlay) {
  flex-grow: 1;
  text-align: center;
}
nav ul li:not(.close-overlay) a {
  padding: 0.6em 0;
  text-decoration: none;
  color: #323432;
  display: block;
}
nav ul li:not(.close-overlay) a:hover, nav ul li:not(.close-overlay) a:focus {
  transform: scale(1.03);
}
@media (max-width: 34.97rem) {
  nav ul li:not(.close-overlay) a {
    padding-inline: 1.5em;
  }
}
@media (min-width: 64rem) {
  nav ul li:not(.close-overlay) a {
    padding-block: 0.3em;
  }
}
nav ul li:not(.close-overlay) + li {
  border-left: 1px solid #323432;
}
@media (max-width: 34.97rem) {
  nav ul li:not(.close-overlay) + li {
    border-top: 1px solid #323432;
    border-left: none;
  }
}
nav ul li:not(.close-overlay):hover, nav ul li:not(.close-overlay):focus {
  background-color: #f6d26f;
}
nav ul li:not(.close-overlay).active {
  background-color: #6aa5af;
}

.close-overlay {
  position: fixed;
  inset: 0;
  background-color: transparent;
  z-index: -2;
}

.menu-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  padding: 0.5em 1em;
  border-radius: 0.5rem 0 0 0;
  font-size: 1.2rem;
  color: #323432;
  z-index: 15;
}
@media (min-width: 35rem) {
  .menu-button {
    visibility: hidden;
  }
}

.banner {
  color: #f6f8f2;
  background: linear-gradient(#2b4b50, #477c85);
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  line-height: 2.5rem;
}
@media (max-width: 34.97rem) {
  .banner {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5em;
  }
}
@media (min-width: 64rem) {
  .banner {
    font-size: 1.5rem;
  }
}

main {
  padding: 0.5rem 2rem 1rem 2rem;
}

footer {
  background-color: #242423;
}
footer span {
  color: #d0dcd6;
}
footer a {
  color: #f5cc5c;
}
footer a:hover, footer a:focus {
  color: #f8db8c;
}

h1 {
  color: #f6f8f2;
  margin-top: 1em;
}

h2 {
  font-size: 1.2rem;
  color: #d0dcd6;
}

h3 {
  font-size: 1.5rem;
  color: #323432;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  color: #323432;
}

button {
  color: #323432;
  background-color: #f5cc5c;
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
}
button:hover, button:focus {
  background-color: #f6d26f;
}

main a {
  color: #2b4b50;
}
main a:hover, main a:focus {
  color: #477c85;
}

.hero {
  width: 100%;
  height: 100%;
  max-height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 1px 2px #323432;
}
.hero-section {
  position: relative;
}
.hero-container {
  position: relative;
  margin: 0 -2rem;
}
.hero-container::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(43, 75, 80, 0.5), rgba(43, 75, 80, 0));
}
.hero-title {
  z-index: 1;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0 1rem;
  margin: 0;
  color: white;
  text-shadow: 0 0 4px #242423;
  width: 100%;
  font-size: clamp(2rem, 6vw, 3rem);
}
.hero-title-right {
  transform: none;
  text-align: right;
  right: 0;
  max-width: 50%;
  left: auto;
}
@media (max-width: 34.97rem) {
  .hero-title-right {
    position: absolute;
    max-width: 100%;
    text-align: center;
  }
}

.weather-summary {
  position: static;
  border-left: 1.5rem solid #799a8a;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to bottom right, #f3f6ef, #dfe7e3);
  padding: 1em;
  max-width: 20rem;
  box-shadow: 0 0 5px #323432;
}
.weather-summary p {
  margin: 0;
  line-height: 2;
}
.weather-summary h4 {
  margin: 0.5em 0;
}
.weather-summary p {
  line-height: 1.5;
}
@media (max-width: 34.97rem) {
  .weather-summary {
    position: static;
    transform: none;
    width: 100%;
    margin: 2rem auto;
  }
}

.forecast {
  border-collapse: collapse;
  table-layout: auto;
}
.forecast-container {
  max-width: 100%;
  display: inline-block;
  box-shadow: 0 0 5px #323432;
}
.forecast th,
.forecast td {
  padding: 0.5em 1em;
}
.forecast th + th,
.forecast td + td {
  border-left: 1px solid #323432;
}
.forecast th {
  background: linear-gradient(to bottom, #88a596, #6b8e7d);
  color: #f6f8f2;
  text-shadow: 0 0 2px #323432;
}
.forecast td {
  background-color: #d0dcd6;
}
.forecast td > img {
  margin: auto;
  display: block;
  filter: drop-shadow(0 0 2px #999);
}

article {
  display: flex;
  flex-direction: column;
}
article img {
  width: 90%;
  margin: auto;
  order: 1;
  box-shadow: 0 0 2px #323432;
}
@media (min-width: 35rem) {
  article {
    display: block;
  }
  article img {
    margin: 0 0 1em 1em;
    float: right;
    width: auto;
    box-shadow: 0 0 2px #323432;
  }
}

address {
  background: linear-gradient(to top right, #599ca6, #7aafb8);
  padding: 1.5em;
  display: flex;
  flex-direction: row-reverse;
  gap: 3em;
  color: black;
}
@media (max-width: 34.97rem) {
  address {
    flex-direction: column;
    gap: 1em;
  }
}
address * {
  flex: 1 1 50%;
}
address em {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-block: 1em;
}
address #map {
  box-shadow: 0 0 2px #323432;
}

.facebook {
  --color: #1877f2;
}

.instagram {
  --color: #c32aa3;
}

.twitter {
  --color: #1da1f2;
}

.icon-large {
  font-size: 3rem;
  margin-right: 1rem;
  border-radius: 7px;
  padding: 0px 3px;
  transition: background-color 200ms ease;
  color: #599ca6;
}
.icon-large:hover, .icon-large:focus {
  background-color: var(--color);
  transform: scale(1.02);
}

.map {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 250px;
}
@media (max-width: 34.97rem) {
  .map {
    max-height: 150px;
  }
}

@media (max-width: 34.97rem) {
  .large-only {
    display: none;
  }
}

.towns {
  list-style: none;
  padding: 0;
  width: 100%;
  gap: 1em;
  display: flex;
  flex-direction: column;
}
@media (min-width: 64rem) {
  .towns {
    flex-direction: row;
  }
}

.town {
  background: linear-gradient(to bottom, #e8edde, #d0dcd6);
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  width: 100%;
}
@media (min-width: 35rem) {
  .town {
    flex-direction: row;
  }
  .town:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
@media (min-width: 64rem) {
  .town:nth-child(n) {
    flex-direction: column;
  }
}
.town img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  height: 100%;
  box-shadow: 0 0 2px #323432;
}
.town-data {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.town-data p {
  margin: 2% 0;
}
@media (min-width: 35rem) {
  .town-data {
    flex-basis: 50%;
    margin-right: auto;
  }
}
@media (min-width: 64rem) {
  .town-data {
    justify-content: flex-start;
  }
}
.town .img-container {
  position: relative;
  max-height: 250px;
}
@media (min-width: 35rem) {
  .town .img-container {
    flex-basis: 50%;
  }
}
.town h3 {
  margin: 0;
}
.town h3.large-only {
  display: none;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  font-size: 1.7rem;
  color: #f6f8f2;
  text-shadow: 0 0 5px #242423;
}
@media (min-width: 64rem) {
  .town h3.large-only {
    display: block;
  }
}
.town h3.medium-and-down {
  display: block;
}
@media (min-width: 64rem) {
  .town h3.medium-and-down {
    display: none;
  }
}
.town h3 a {
  color: inherit;
}
.town h3 a:hover, .town h3 a:focus {
  filter: opacity(0.8);
}

img {
  filter: blur(0);
  transition: filter 300ms ease;
}

[data-src] {
  filter: blur(0.2em);
  position: relative;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media (min-width: 35rem) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64rem) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallery-card {
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px #323432;
  position: relative;
  background-color: white;
  transition: transform 200ms ease;
}
@media (min-width: 64rem) {
  .gallery-card:hover {
    transform: translateY(-5px);
  }
}
@media (min-width: 64rem) {
  .gallery-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5px;
    box-shadow: 0 0 20px #323432;
    transition: opacity 200ms ease;
    opacity: 0;
  }
  .gallery-card:hover::before {
    opacity: 1;
  }
}
.gallery-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.gallery-caption {
  padding: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  margin-top: 1.5em;
  background-color: #e8edde;
  border-radius: 5px;
  box-shadow: 0 0 5px #323432;
  accent-color: #477c85;
}
form fieldset {
  padding: 0 2em 2em 2em;
  border: 1px solid #323432;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
form fieldset legend {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5em;
}
form input:not([type=radio]),
form select,
form textarea {
  display: block;
  border-radius: 5px;
  border: 1px solid #323432;
  padding: 0.5em;
  margin: 0.5em 0;
  width: 100%;
  max-width: 30rem;
}
form input[type=range] {
  margin: 0;
  padding: 0;
  display: inline-block;
}
form .range-container {
  width: 100%;
  max-width: 30rem;
  display: flex;
  gap: 1em;
  padding-top: 0.3em;
}
form .range-container span {
  color: #2b4b50;
  min-width: 2ch;
  align-self: center;
}
form label {
  margin-top: 1em;
}
form .radio-option {
  margin-top: 0.5em;
}
form textarea {
  resize: vertical;
  min-height: 5rem;
  max-height: 15rem;
}
form input[type=submit] {
  margin-left: 2.5em;
  max-width: 10rem;
  background-color: #599ca6;
}
form input[type=submit]:hover, form input[type=submit]:focus {
  background-color: #6aa5af;
  transform: scale(1.01);
}
@media (max-width: 34.97rem) {
  form input[type=submit] {
    margin: 0 auto;
  }
}
form h3 {
  margin: 0.5em 0;
}
@media (max-width: 34.97rem) {
  form h3,
form fieldset legend {
    margin: 0 auto;
  }
}
@media (min-width: 35rem) {
  form {
    margin: 1em;
    margin-top: 3em;
    padding: 2em;
  }
}
@media (min-width: 64rem) {
  form {
    padding: 2em 6em;
    margin: 4em;
  }
  form input:not([type=radio]),
form select {
    padding: 0.25em 0.5em;
  }
}

.event {
  padding: 1em;
  margin: 2rem auto;
  background: linear-gradient(to bottom left, #d0dcd6, #a5bbb0);
  border: 1rem solid #88a596;
  width: 80%;
  max-width: 25rem;
  box-shadow: 0 3px 5px #4b6357;
}
@media (max-width: 34.97rem) {
  .event {
    width: 100%;
  }
}
.event-title {
  text-align: center;
  margin-top: 0.5rem;
}
.event-title::after {
  content: "";
  display: block;
  margin: auto;
  width: 75%;
  height: 1px;
  background-color: #799a8a;
  margin-top: 0.5rem;
}
.event-list {
  list-style-type: square;
}
@media (max-width: 34.97rem) {
  .event-list {
    padding-left: max(8vw, 1rem);
  }
}
.event-list-item {
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=style.css.map */